body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 0px;
}

ol,
ul {
  padding-left: 30px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(71, 78, 90);
  color: white;
}

a {
  text-decoration: none;
  color: white;
  transition-duration: 600ms;
}

a:hover {
  color: rgb(207, 203, 203);
  transition-duration: 400ms;
}

.nav-links{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 0 20px;
}

.board-row::after {
  display: grid;
  margin: 1px;
  grid-template-columns: repeat(4, 1fr);
}

.rectangle {
  background: gray;
  border-bottom: none;
  font-size: 50px;
  font-weight: bold;
  line-height: 100px;
  height: 100px;
  text-align: right;
  width: 100%;
  color: white;
  font-weight: bold;
  margin-right: 10px;
}

.value {
  padding-right: 10px;
}

.square {
  background: #fff;
  border-left: 1px solid #d1d1d1;
  border-right: 1px solid#d1d1d1;
  border-bottom: 1px solid #bababa;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 100px;
  height: 100px;
  min-width: 25%;
  padding: 0;
  text-align: center;
}

.square:hover {
  background-color: lightblue;
}

.home,
.calculator,
.quote {
  padding: 10px;
}

.zero {
  width: 350px;
}

.op {
  background-color: #f5913e;
}

.calculator {
  width: 700px;
}
