body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 0px;
}

ol,
ul {
  padding-left: 30px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(71, 78, 90);
  color: white;
}

a {
  text-decoration: none;
  color: white;
  transition-duration: 600ms;
}

a:hover {
  color: rgb(207, 203, 203);
  transition-duration: 400ms;
}

.nav-links{
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.board-row::after {
  clear: both;
  content: "";
  display: table;
}

.rectangle {
  background: #fff;
  border: 1px solid #999;
  font-size: 50px;
  font-weight: bold;
  line-height: 100px;
  height: 100px;
  padding: 0;
  text-align: right;
  width: 395px;
}

.value {
  padding-right: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 100px;
  height: 100px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 100px;
}

.square:hover {
  background-color: lightblue;
}
